In [13]:
import json
import sqlite3

conx = sqlite3.connect('titenic.db')

c = conx.cursor()

In [14]:
import pandas as pd

file = 'titenic.xlsx'
df = pd.read_excel(file)
print(df.head())

   PassengerId  Survived  Pclass                                     Name  \
0          677         0       3            Sawyer, Mr. Frederick Charles
1          678         1       3                  Turja, Miss. Anna Sofia
2          679         0       3  Goodwin, Mrs. Frederick (Augusta Tyler)
3          680         1       1       Cardeza, Mr. Thomas Drake Martinez
4          681         0       3                      Peters, Miss. Katie

      Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
0    male  24.5      0      0    342826    8.0500          NaN        S
1  female  18.0      0      0      4138    9.8417          NaN        S
2  female  43.0      1      6   CA 2144   46.9000          NaN        S
3    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
4  female   NaN      0      0    330935    8.1375          NaN        Q

In [11]:
tbl = df.to_sql('titenictbl',conx)

conx.commit()
conx.close()

ValueError: Table 'titenictbl' already exists.