In [ ]:
import csv

file = 'titenic.csv'

with open (file, 'r') as file:
    read = csv.reader(file)

    for data in read:
        print(data)

In [17]:
import pandas as pd
import numpy as np

file = 'file.csv'
df = pd.read_csv('file.csv')
print(df.head())

        DATE  OPEN  HIGH  LOW  CLOSE  VOLUME
0  11/1/2023   111   120  117    101       0
1  11/2/2023   100   111  118    111       0
2  11/3/2023   108   105  101    111       0
3  11/4/2023   117   114  115    105       0
4  11/5/2023   104   102  111    106       0

In [12]:
import json
import sqlite3

conx = sqlite3.connect('titenic.db')

c = conx.cursor()

In [13]:
df.to_sql('tabletitenic',conx,if_exists="replace", index=False)

print(data)

215